@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Setup variables */
:root {
  --black: #252f4d;
  --white: #f5f5f5;
  --gray: #d3d2da;
  --green: #94db4c;
}

/* General css style */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", serif;
  font-size: 1.4rem;
  color: var(--black);
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling conatiner and heading of team mangament members */
.team-management {
  position: relative;
  width: min(100%, 60rem);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem 4rem;
  border-radius: 0.7rem;
}

.team-management__title {
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  width: 90%;
  margin-bottom: 2rem;
}
/* Styling form section */
.team-management__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* fieldset of team mangament  */
.team-management__members {
  border: none;
  width: min(100%, 30rem);
}

/* Search input */
.team-management__search {
  width: min(100%, 30rem);
  position: relative;
}

.team-management__search-input {
  width: 100%;
  padding: 0.8rem 2.5rem;

  border: none;
  border-bottom: 1px solid var(--gray);
  outline: none;
}
.team-management__search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray);
}

/* container of memeber name and checkbox */
.team-management__member {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
}

.team-management__member-name {
  color: var(--gray);

  display: flex;
  gap: 0.7rem;
  align-items: center;

  transition: color 0.3s ease-in-out;

  cursor: pointer;
}

.team-management__member:not(.team-management__member:last-child) {
  margin-bottom: 0.5rem;
}

/* checkbox and convert it to circle  */
.team-management__member-checkbox {
  position: relative;
  visibility: hidden;
}

.team-management__member-checkbox::after {
  content: "";
  visibility: visible;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;

  border: 2px solid var(--gray);
  border-radius: 50%;
  color: var(--green);
  transition: all 0.2s ease-in-out;

  cursor: pointer;
}

/* change name color if checkbox is checked */
.team-management__member-checkbox:checked + label {
  color: var(--black);
}

.team-management__member-checkbox:checked::after {
  content: "✔";
  border-color: var(--green);
}

/* action buttons */
.team-management__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.button {
  font-weight: 600;

  padding: 1.2rem 4rem;

  border: none;
  border-radius: 0.5rem;
  outline: none;

  cursor: pointer;

  transition: all 0.3s ease-in;
}
.button--cancel {
  color: var(--gray);
  background-color: transparent;

  border: 2px solid var(--gray);
}

.button--save {
  color: var(--white);
  background-image: linear-gradient(
    to right,
    #6cb7ff,
    #65acff,
    #65a0ff,
    #6d93ff,
    #7985ff
  );
  text-transform: uppercase;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translateY(2px);
}
/* close button */

.team-management__close {
  font-size: 2rem;
  color: var(--gray);

  position: absolute;
  top: 2rem;
  right: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  outline: none;

  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.team-management__close span {
  font-size: 1rem;
}

.team-management__close:hover {
  color: var(--black);
}

.hidden {
  display: none;
}
